/* main css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.show {
    display: grid !important;
}

.hide {
    display: none !important;
}

.header-top {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    font-family: pacifico;
    color: rgb(10, 9, 9);
    z-index: 100;
    box-shadow: 0px 2px 6px -5px #6d6363;
}

.navbar {
    display: grid;
    justify-items: center;
    grid-template-columns: auto 200px;
    height: 60px;
}

.link {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 14px;
    justify-items: center;
    font-family: 'Poppins';
}

.link a {
    padding: 0px 10px;
    transition: .2s ease-in all;
}

.link a:hover {
    background: aliceblue;
}

.brand,
.brand-name {
    width: 100%;
    margin: 0;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
    left: 40px;
}

a {
    text-decoration: none !important;
    color: black;
}


.hero-top {
    display: grid;
    width: 100%;
    height: 560px;
    margin-top: 5em;
    grid-template-columns: 45% 55%;
}

.container-right {
    display: grid;
    grid-template-rows: 74% 26%;
    height: 560px;
    position: relative;
    margin-left: 42px;
}

.container-right-text {
    font-size: 5em;
    align-self: center;
    position: relative;
}

.container-right-text span {
    display: block;
}

.create-event-button {
    width: 210px;
}

/* .button {
    width: 121px;
    height: 21px;
    padding: 10px;
    text-align: center;
    border: 2px solid #ff5b13;
    position: relative;
    border-radius: 5px;
} */
.button {
    margin: 2em 2px;
    display: grid;
    grid-auto-flow: column;
    width: 200px !important;
    padding: 10px 1px !important;
}

.btn {
    padding: 4px 4px;
    background: rgb(37, 198, 75);
    border-radius: 4px;
    transition: all .2s ease;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.btn:hover {
    background: rgb(25, 156, 56);
}

.btn.save {
    background-color: #18cd2e;
}

.btn.back {
    background-color: #fd1919;
}

span.text {
    font-size: 22px;
    color: rgb(255, 255, 255);
}

span.icon {
    position: relative;
    top: 5px;
    right: 1px;
    display: inline-block;
    transform: translateX(0);
    transition: transform .4s ease-out;
}

.button:hover .icon {
    transform: translateX(5px);
}

.button.back {
    display: none;
}

.button.submit {
    display: none;
}

/* .button .icon {
    position: relative;
    width: 10px;
    right: 10px;
} */

/* a {
    text-decoration: none;
    color: black;
} */

.container-left {
    border-radius: 10px;
    margin-right: 15px;
}

.container-left .image-holder {
    display: grid;
    height: 500px;
    background: beige;
    padding: 10px;
}

.image-holder img {
    height: 100%;
    width: 100%;
}

/* event group */

.event-explore {
    display: grid;
    margin: 3em 0px;
}

.event-explore h1 {
    justify-self: center;
    align-self: center;
    font-size: 2em;
}

.event-group {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 3em;
    justify-content: center;
    /* height: 350px; */
}

.card {
    width: 350px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    word-spacing: 4px;
    cursor: pointer;
    height: 100%;
}

.card img {
    width: 100%;
    height: 100%;
}

.card .wrapper {
    padding: 10px;
}

.header_img {
    display: grid;
    height: 200px;
}

p.datetime {
    color: #1763ec;
    font-weight: bold;
}

h2.title {
    margin: 0;
}

p.desc {
    color: #5f5b5b;
}

.card:hover {
    box-shadow: 1px 3px 8px 2px #76767666;
    transition: 0.3s ease-in-out;
}

footer {
    padding: 1em;
    text-align: right;
}

/* -------------- create event.html -----------  */
.container {
    display: grid;
    /* grid-template-columns: 3fr 10fr; */
    /* margin-top: 3em; */
}

.tab-container {
    background-color: #eee;
    overflow-y: scroll;
}

.tab-nav {
    display: grid;
    grid-gap: 10px;
    padding: 4px;
}

#sidebar {
    background-color: #f8f7fa;
    z-index: 1;
    position: fixed;
    height: 100%;
}

#sidebar .sidebar-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    padding: 3em 1em 0 3em;
    margin-top: 3em;
}

.sidebar-container {
    padding: 15px;
    position: relative;
}

.sidebar-container .user {
    display: grid;
    grid-template-columns: 60px 150px;
    grid-column-gap: 10px;
}

.profile-img {
    border-radius: 50%;
    width: 100%;
    position: relative;
    display: inline-block;
    top: 8px;
}

.user>h3 {
    display: inline;
    position: relative;
    top: 0px;
    right: -6px;
    font-size: 22px;
    letter-spacing: 1px;
}

.control>ul {
    padding: 0;
    margin: 2em 0 0 0;
    padding: 0;
    display: grid;
    grid-row-gap: 43px;
}

.control img {
    width: 30px;
    position: relative;
    top: 26px;
}

#sidebar .control ul li {
    position: relative;
    list-style-type: none;
    color: rgb(18, 26, 38);
    display: inline-block;
    top: 19px;
    margin-left: 18px;
    cursor: pointer;
}

.form-container {
    display: grid;
    justify-content: center;
    margin-top: 4em;
}

.form {
    display: grid;
    max-width: 500px;
    padding: 10px;
}

.form h1 {
    margin-bottom: 0;
}

.basic-info {
    display: grid;
}

.input-holder.drop {
    appearance: menulist !important;
    height: 40px;
    width: max-content;
}

/* input.input-holder.date {
    width: 50%;
    display: inline-block;
} */

.input-holder {
    display: block;
    width: 90%;
    height: 30px;
    padding: 5px;
    font-size: medium;
    appearance: none;
    margin: 10px 10px 10px 0px;
    border: 2px solid #efe1e8;
    border-radius: 2px;
    text-indent: 10px;
    outline: none;
    transition: ease-in;
}

.input-holder:focus {
    border: 2px solid #1a98dc;
}

textarea {
    width: 100%;
}

.detail {
    display: none;
}

.editor {
    border: 2px solid #ccc5c5;
    border-radius: 3px;
    width: 800px;
}

.toolbar {
    display: grid;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.line {
    display: flex;
    border-bottom: 1px solid #e2e2e2;
}

.box {
    display: grid;
    grid-auto-flow: column;
    border-right: 2px solid #ccc5c5;
    grid-gap: 10px;
}

span.btn-icon {
    padding: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

span.btn-icon:hover {
    background-color: #eee;
}

.btn-icon img {
    width: 100%;
}

.editor .content-area {
    padding: 15px 12px;
    line-height: 1.5;
}

.editor .content-area {
    outline: none;
    height: 400px;
    border: none;
    resize: none;
    overflow-y: scroll;
}

/* for step wise */

.step {
    display: none;
}

/* ------------- event.html -----------------*/

.hero-container {
    display: grid;
    height: 340px;
    margin-top: 3em;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
}

h1.heading {
    font-size: 4em;
    margin-bottom: 0;
}

p.time {
    word-spacing: 5px;
}

.btn.reg_btn {
    width: auto;
    margin: 3em;
}

.event_desc {
    white-space: pre-line;
    padding: 2em 3em;
}
