<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>
        EventBook - Discover or Create Your own events and Sell tickets
    </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="header-top">
        <nav class="navbar">
            <div class="brand">
                <a href="/">
                    <h1 class="brand-name">EventBook</h1>
                </a>
            </div>


            <div class="link">
                {% if not request.session.logged_in %}
                <a href="events/login">
                    <p>Login</p>
                </a>
                <a href="events/signup">
                    <p>Signup</p>
                </a>
                {% else %}
                <a href="events/dashboard">
                    <p>Dashboard</p>
                </a>
                <a href="events/logout">
                    <p>Logout</p>
                </a>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="hero-top">

        <div class="container-right">
            <h1 class="container-right-text">
                <span>Simplest Way
                </span>
                <span>To manage</span>Events.
            </h1>

            <div class="create-event-button">
                <div class="button btn">
                    <a href="/events/create">
                        <span class="text">
                            Create Event</span>
                        <span class="icon">
                            <svg viewBox="0 0 24 24" fill="#494949" aria-hidden="true" height="24" width="24"
                                style="flex-shrink: 0;">
                                <title></title>
                                <path
                                    d="M12.293 17.293a1 1 0 0 0 1.414 1.414l5.45-5.45c.085-.085.186-.185.267-.281.094-.111.22-.28.296-.513a1.5 1.5 0 0 0 0-.926 1.506 1.506 0 0 0-.296-.513c-.081-.096-.182-.196-.266-.28l-5.45-5.451a1 1 0 1 0-1.415 1.414L16.586 11H5a1 1 0 1 0 0 2h11.586l-4.293 4.293z"
                                    fill="#ffffff">
                                </path>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-left">
            <div class="image-holder">
                <img src="{% static 'images/hero_pattern.png' %}" alt="hero-image">
            </div>
        </div>
    </div>
    <div class="event-explore">
        <h1>More event</h1>
        <div class="event-group">
            {% for q in event %}
            <a href="/events/e/?event_id={{q.event_id}}">
                <div class="card" data-event_id={{q.event_id}}>
                    <div class="header_img"
                        style="background-image:url(static/media/{{q.header_img}}); background-position: center; background-size: contain; background-repeat: no-repeat;">
                    </div>
                    <div class="wrapper">
                        <h2 class="title">{{q.title}}
                            <span class="org" style="font-size:small; color:grey">by {{q.org_name}}</span>
                        </h2>
                        <p class="datetime">{{q.start_date_time}}
                        </p>
                        <p class="desc">{{q.description| truncatechars:100}}</p>
                        <!-- <p>{{q.address}}</p> -->
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <footer>@Venkatesh Bellale 2020</footer>
</body>

</html>
